.groupDetails {
    margin: 1rem;
}

.groupTitle {
    margin: 0;
}

.groupDescription {
    margin: 0;
}

.member {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eeeeee;
}

.memberContainer, .requestContainer {
    margin: 1rem;
}

.membersTitle, .requestsTitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

.members, .requests {
    box-shadow: 0 1px 4px #bebebe;
    border-radius: 8px;
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    .member {
        border-bottom: none;
    }
}