.TypedTagInput {
    cursor: text;
    display: block;
    padding: 0.25rem;
    margin: 1rem;
    min-height: 8rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    transition: min-height 0.18s ease;
}

.finalized {
    cursor: default;
    min-height: 0;
}

.input {
    appearance: none;
    border: none;
    font-size: 1rem;
    min-width: 12ch;
    background-color: transparent;
    box-shadow: none;
    text-align: left;
    border-radius: initial;
    padding: initial;
}

.input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

@media (prefers-color-scheme: dark) {
    .TypedTagInput {
        background-color: #444444;
    }
}