.TypedTagInput {
    display: block;
    padding: 0.25rem;
    margin: 0.5rem;
    min-height: 8rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.input {
    appearance: none;
    border: none;
    font-size: 1rem;
    min-width: 12ch;
}

.input:focus {
    outline: none;
}