.Button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 14px;
    margin: 0;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background-color: var(--accent-color);
    color: white;
    font-size: 1rem;
    max-width: 25rem;
}

.Button:hover, .Button:active {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.disabled {
    background-color: #ccc;
}