.SignUp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
}

.logo {
    width: 100px;
    height: 100px;
}

.alternateModeLink {
    text-decoration: none;
    color: var(--accent-color);
}

.verificationOptionsContainer {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.verificationOptionsContainer > Button {
    margin-left: 1rem;
}

.darkModeOnly {
    display: none;
}

@media (max-width: 40rem) {
    .SignUp {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2rem;
    }
}

@media (prefers-color-scheme: dark) {
    .lightModeOnly {
        display: none;
    }

    .darkModeOnly {
        display: inline;
    }
}