.Input {
    width: 100%;
    text-align: center;
    margin: 0.35rem 0;
}

.Button {
    width: 100%;
}

.inputs {
    margin: 1rem 0;
}

.authMessage {
    margin: 1rem 0;
}

.otherOptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}