.TabBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(49px + env(safe-area-inset-bottom));
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: -1px 0px 4px #cccccc;
}

@media (prefers-color-scheme: dark) {
    .TabBar {
        background-color: #000000;
        box-shadow: -1px 0px 4px #979797;
    }
}