.NavBar {
    position: fixed;
    top: env(safe-area-inset-top);
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
    height: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0 1rem;
    background-color: white;
    color: var(--accent-color);
    box-shadow: 1px 0px 4px #ccc;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    z-index: 50;
}

.spacer {
    height: 64px;
}

.title, .leftButton, .rightButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 2rem;
}

.leftButton, .rightButton {
    cursor: pointer;
}

.title {
    align-items: center;
}

.leftButton {
    align-items: flex-start;
    text-decoration: none;
    color: var(--accent-color);
}

.rightButton {
    align-items: flex-end;
    text-decoration: none;
    color: var(--accent-color);
}

.leftButton img, .rightButton img {
    height: 100%;
    width: 44px;
}

@media (prefers-color-scheme: dark) {
    .NavBar {
        background-color: #000000;
        box-shadow: 1px 0px 4px #979797;
    }

    .leftButton img, .rightButton img {
        filter: brightness(500%);
    }
}