.NavBar {
    position: fixed;
    top: env(safe-area-inset-top);
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
    height: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0 1rem;
    background-color: white;
    color: var(--accent-color);
    box-shadow: 1px 0px 4px #ccc;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

.spacer {
    height: 64px;
}

.title, .back, .add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 2rem;
}

.title {
    align-items: center;
}

.back {
    align-items: flex-start;
}

.add {
    align-items: flex-end;
}

.back img, .add img {
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    .NavBar {
        background-color: #222222;
        box-shadow: 1px 0px 4px #000000;
    }

    .back img, .add img {
        filter: brightness(500%);
    }
}