.InputTag {
    display: inline-block;
    min-height: 1rem;
    min-width: 1rem;
    padding: 4px;
    margin: 4px;
    background-color: #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.valid {
    background-color: var(--accent-color);
    color: white;
}

.invalid {
    background-color: var(--invalid-color);
    color: white;
}