@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/Roboto-Medium.ttf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/Roboto-Bold.ttf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/Roboto-Black.ttf') format('opentype');
    font-weight: 900;
}

:root {
    color-scheme: light dark;
    --content-background: #F2EFEA;
    --accent-color: #403D58;
    --placeholder-text-color: #8e8e8e;
    --invalid-color: #d14f4f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --content-background: #8b8b8a;
        --accent-color: #7a68ff;
        --placeholder-text-color: #dddcdc;
        --invalid-color: #d14f4f;
    }
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
