.Input {
    box-shadow: 0 1px 4px #bebebe;
    border: none;
    border-radius: 8px;
    background-color: #F2EFEA;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
}

.Input::placeholder {
    color: #999999;
}

.Input:active, .Input:focus {
    outline: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

.Button {
    cursor: pointer;
    display: inline-block;
    padding: 1rem;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background-color: var(--accent-color);
    color: white;
    font-size: 1rem;
}

.Button:disabled {
    background-color: #CCCCCC;
}

.UnemphasizedBtn {
    box-shadow: none;
    background-color: transparent;
    color: var(--accent-color);
    padding: 0.5rem;
    text-decoration: none;
}