.PostDetails {
    margin: 1rem 0.5rem;
    display: grid;
    grid-template-columns: 44px 1fr;
    grid-template-rows: auto auto;
    column-gap: 8px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 0.5rem;
}

.headerImage {
    display: inline-block;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    width: 44px;
    height: 44px;
    margin-right: 8px;
    border-radius: 2rem;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.headerImage img {
    height: 100%;
}

.headerName {
    font-size: 0.875rem;
    font-weight: 400;
    padding-bottom: 2px;
}

.content {
    padding-bottom: 1rem;
    border-bottom: 1px solid #EEEEEE;
}

.title {
    font-size: 1.3125rem;
    font-weight: 500;
}

.body {
    font-size: 1rem;
    font-weight: 400;
}

@media (prefers-color-scheme: dark) {
    .content {
        border-bottom: 1px solid #444444;
    }
    
    .body {
        color: #999999;
    }
}